/* 큰설정 */
.chats {
  display: flex;
  flex-direction: column;
  margin: 10px 30px 90px 30px;
}

.chat-room {
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
  /* background-color: #f0f0f0; */
  border-radius: 10px;
}

.unpush {
  color: #999999;
}

/* 왼쪽 */
.chat-room-left-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  color: var(--black-main);
}

.chat-room__img {
  width: 60px;
  height: 60px;
  background-color: tomato;
  border-radius: 20px;
  margin: 15px 10px 15px 0px;
}

.chat__text-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.chat__title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__title {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 8px 6px 8px;
}

.chat__peo-num {
  opacity: 0.5;
}

div > p.chat__pin {
  margin-left: 4px;
  opacity: 0.5;
}

.chat__text {
  opacity: 0.6;
  margin-left: 8px;
}

/* 오른쪽 */
.chat__right {
  color: var(--black-main);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-time {
  font-size: 13px;
  display: flex;
  margin-bottom: 2px;
  opacity: 0.5;
}
