/* 위에 텍스트부분 */

.login-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0px;
  color: var(--black-main);
}

.login-text__main {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 40px;
}

.login-text__sub {
  display: flex;
  font-size: 18px;
  text-align: center;
  opacity: 0.4;
  line-height: 24px;
  font-weight: bold;
}

/* 인풋폼 */
form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form__input {
  height: 60px;
  padding: 0px 30px;
  border: none;
  border-bottom: 1px solid rgba(2, 7, 21, 0.2);
}

form ::placeholder {
  color: rgba(2, 7, 21, 0.5);
  font-size: 15px;
}

.login-form__btn {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 20px 0px;
}

.login-btn {
  height: 70px;
  border: none;
  border-radius: 10px;
  background-color: var(--ui-color);
  color: var(--black-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* 맨밑 텍스트 */
.login-text__annai {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 0px 100px 0px;
  color: var(--black-main);
}
