/* 상단 헤더 */

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0px 25px;
  padding: 10px 3px;
  height: 55px;
  /* background-color: antiquewhite; */
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.header__left__text {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  padding-right: 10px;
  margin-right: 20px;
  position: relative;
  color: var(--black-main);
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.header__right__icons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__right__icons .bi {
  width: 24px;
  height: auto;
}

.header__right__icons .bi-person-plus,
.bi-person-plus-fill {
  width: 28px;
  height: auto;
}

.header-bi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  background-color: none;
  border-radius: 50%;
  transition: 0.2s ease-in-out background-color;
}

/* 애니메이션 */

.header-bi:hover {
  background-color: var(--blue-400);
  color: white;
}
